@font-face {
    font-family: "Noto Serif SC";
    scr: url("../source/font/SourceHanSerifSC-Light.otf") format("otf");
}
@font-face {
    font-family: "Noto Serif TC"
    scr: url("../source/font/SourceHanSerifTC-Light.otf") format("otf");
}
